@import '~bootstrap/scss/bootstrap';

body {
    background-color: #141414;
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: black;
    height: 70px;
    .logo img {
        height: 40px;
    }
    a {
        color: red;
    }
}

main {
    min-height: calc(100vh - 170px);
    .sd-card {
        background-color: darken(red, 15%);
    }
}

footer {
    height: 100px;
}
