@import '~bootstrap/scss/bootstrap';

body {
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 70px;
    .logo img {
        height: 50px;
    }
    a {
        color: red;
    }
}

.sd-card {
    background-color: darken(red, 15%);
}
